*{
    margin: 0;
    padding: 0;

}
hr{
    position: absolute;
    width: 500px;
    top: 58px;
    left: 150px;
}
body{
    background-image: url("/space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 1024px;
}

#container{
    margin:  0 auto;
    width: 95%;


}
